#bovenkant {
    background-color: rgb(34, 177, 76);
    font-family: "title";
}
.navbar {
    background-color: rgb(34, 177, 76);
}
.navtext {
font-size: 20px;
}
@font-face {
    font-family: "title";
    src: url(WorkingRegular-z8nBX.ttf);
}
#title {
    font-family: "title";
    font-size: 35px;
}
.logo {
    margin-top: 10px;
}
#textblok {
    margin-top: 50px;
    height: 430px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(34, 177, 76);
    border-radius: 50px;
}
#bovenkanttekst{
    background-color: rgb(34, 177, 76);
    height: 80px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
#onderkant{
    background-color: rgb(34, 177, 76);
    margin-top: 50px;
    height: 93px;
}
#form{
    margin-top: 25px;
}
#knop {
    border-radius: 10px;
    margin-left: 130px;
    border: none;
    background-color: cyan;
    height: 40px;
}
#knop:hover
{
    transition: 1s;
    background-color: blue;
}
#blok{
    margin-left: 14px;
}
#knop2 {
    margin-left: 63px;
}
#blok5 {
    margin-left: 46px;
}
#foto {
    margin-top: 90px;
    margin-left: 30px;
}